.btn {
  font-size: 16px;
  border: 1px solid;
  padding: 2px 2px;
}
button.btn-add {
  background-color: transparent;
  border-radius: 0px 5px 5px 0px;
  border: 1px so;
}
button.btn-add:hover {
  background-color: white;
}
