.select {
  margin-left: 5px;
  position: relative;
  overflow: hidden;
}
.filter-todo {
  height: inherit;
  padding: 11px;
}
/* Custom Select */

select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: px 5px;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
