.select {
  margin-left: 5px;
  position: relative;
  overflow: hidden;
}

.filter-todo {
  padding: 12px;
}
.filter-todo >.filter-options {
  border-radius: 0;
  padding: 10px;
  background-color: redl
}
/* Custom Select */

select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: none;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 9.5px 5px;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
