.select{
    margin-left:5px;
     margin: 1rem;
  position: relative;
  overflow: hidden;
}
.filter-todo {
  padding: 30px;
}
/* Custom Select */
.select {
 
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 7rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}