
body {


   min-height: 100vh;
  font-family: $ff-secondary;
  background: var(--white);

  color: var(--color);
  line-height: 1.5;
  font-size: 0.875rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
