.input {
  height: 100%;
  color: white;
}
.input[type="text"] {
  flex-grow: 1;
  font-size: 16px;
  padding: 1px 8px;

  border: 0;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid white;
  border-right: 0;
  background-color: transparent;
}

@media screen and (max-width: 767.98px) {
  .input[type="text"] {
    font-size: 12px;
  }
}

.input[placeholder="Update..."] {
  height: 44px;
  padding: 10px;
}
