.form{
    display:flex;
    margin-bottom: 20px;
}
.list_item{
    background-color: 
    
    font-size: 16px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 5px;
    
}
.list_name {
    padding: 10px;
    cursor: pointer;
  
}
.list_name.through{
    text-decoration: line-through;
}
.list_title{
    text-align: center;
}
.list_form{
    display: flex;
    width: 100%;
}
