.form{
    display:flex;
    margin-bottom: 20px;
}


.list_item{
    background-color: aqua;
    font-size: 16px;
    display:flex;
    justify-content: space-around;
    margin-bottom: 5px;
    
}
.list_name {
    padding: 10px;
    cursor: pointer;
    .your-class{
      --f-columns: 4;
      --f-gap: 20px;
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(-1 * var(--f-gap));
      margin-bottom: calc(-1 * var(--f-gap));
    }
    .your-class > * {
      margin-left: var(--f-gap);
      margin-bottom: var(--f-gap);
      width: calc((100% / var(--f-columns) - var(--f-gap)));
    }
}
.list_name.through{
    text-decoration: line-through;
}
.list_button{
   
}